@font-face{
	font-family: DulApFont;
    src: url(dulap_font.ttf);
}
body {
	font-family: DulApFont;
	font-size: 18;
background-image:url("background_index2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
padding: 20;
color: white;
}
ul {
opacity: 0.5;
border-radius: 10px;
list-style-type: none;
margin:0;
padding:2;
overflow:hidden;
background-color:#1f1f14;
transition: 2s;
}

ul:hover{
	opacity:1;
}
li{
	float:left;

}
li a {
	display: block;
	color: white;
	text-align: center;
	padding:20px 20px 20px 20px;
	text-decoration: none;
}
li a:hover {
	background-color: #556B2F;

}
div{
	border-radius: 5px;
	background-color: #556B2F;
	height: 400px;
	width: 600px;
	font-size: 50;
	opacity:0.65;
	margin:auto;
	transition:2s;
}
div:hover{
	transition:3s;
	opacity:1;
}
form{
margin:0 auto;
margin-top: 20px;
}

label{
	color: white;
	display: inline-block;
	margin-left: 18px;
	padding-top: 10px;
	font-size: 14px;
}
.active{
background-color: #556B2F;
}
.hidden{
	display:none;
}
.hidden:hover .actions{
	display:block;
}

.register{
	color:white;
	border-radius: 2px;
	background-color: #556B2F;
	height: 400px;
	font-size: 50;
	width: 21%;
	margin: auto;
}


