body {
background-image:url("background_index.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}
ul {
border-radius: 25px;
list-style-type: none;
margin:0;
padding:0;
overflow:hidden;
background-color:#333;
font-size: 14;	
}
li{
	float:left;

}
li a {
	display: block;
	color: white;
	text-align: center;
	padding:20px 20px 20px 20px;
	text-decoration: none;
	text-shadow: 1px 1px #999966;
}
li a:hover {
	background-color: #556B2F;
}
div{
	border-radius: 25px;
	background-color: #333;
	height: 300px;
	font-size: 50;
	color:white;
}
.active{
		background-color: #556B2F;
}
p{
	font-family: "Times New Roman", Times, serif;
}
.register
{
	border-radius: 25px;
	background-color: #556B2F;
	height: 500px;
	width:500px;
	font-size: 50;
	color:white;
}